.profile{
    max-width: 450px;
    margin-top: 40px;
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
    
    background-color: rgb(238, 245, 243)
}
.description {
    padding: 30px;
    max-width: 280px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.avatar{
    max-width: 150px;
    max-height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    object-fit: fill;
    border-radius: 50%;
    background-color: khaki;
}
.name{
    margin-bottom: 13px;
    font-size: 26px;
    font-weight: 500;
}
.tag {
    margin-bottom: 13px;
    font-size: 18px;
    color: rgb(139, 139, 139);
}
.location{
    font-size: 18px;
    color: rgb(139, 139, 139);
}
.stats{
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(246, 252, 255);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgb(201, 220, 248);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.stats__item{
    width: calc(100% / 3);
    padding: 15px;
    text-align: center;
}
.stats__item:not(:last-child){
    border-right: 1px solid rgb(201, 220, 248);
}
.label{
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    color: rgb(139, 139, 139);
}
.quantity{
    display: block;
   
    font-size: 18px;
    font-weight: 500;
    
}